<div class="admin_pagination">
  <div class="admin_pagination__wrapper">
    <a href="#!" class="admin_pagination__back">Назад</a>
    <ul class="admin_pagination__items">
      <li class="admin_pagination__item">
        <a href="" class="admin_pagination__link">1</a>
      </li>
      <li class="admin_pagination__item">
        <a href="" class="admin_pagination__link">2</a>
      </li>
      <li class="admin_pagination__item">
        <a href="" class="admin_pagination__link">3</a>
      </li>
      <li class="admin_pagination__item">
        <a href="" class="admin_pagination__link">4</a>
      </li>
      <li class="admin_pagination__item">
        <a href="" class="admin_pagination__link admin_pagination--active">5</a>
      </li>
      <li class="admin_pagination__item">
        <a href="" class="admin_pagination__link">6</a>
      </li>
      <li class="admin_pagination__item">
        <a href="" class="admin_pagination__link">7</a>
      </li>
      <li class="admin_pagination__item">
        <a href="" class="admin_pagination__link">9</a>
      </li>
      <li class="admin_pagination__item">
        <a href="" class="admin_pagination__link">10</a>
      </li>
      <li class="admin_pagination__item">
        <a href="" class="admin_pagination__link">11</a>
      </li>
      <li class="admin_pagination__item">
        <a href="" class="admin_pagination__link">12</a>
      </li>
      <li class="admin_pagination__item">
        <a href="" class="admin_pagination__link">13</a>
      </li>
      <li class="admin_pagination__item">
        <a href="" class="admin_pagination__link">14</a>
      </li>
      <li class="admin_pagination__item">
        <a href="" class="admin_pagination__link">15</a>
      </li>
      <li class="admin_pagination__item">
        <a href="" class="admin_pagination__link">12</a>
      </li>
      <li class="admin_pagination__item">
        <a href="" class="admin_pagination__link">13</a>
      </li>
      <li class="admin_pagination__item">
        <a href="" class="admin_pagination__link">14</a>
      </li>
    </ul>
    <a href="#!" class="admin_pagination__next">Вперёд</a>
  </div>
</div>
